
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
   <link href="{{/assets/pluginAssets/katex/katex.css | prepend: baseurl}}" rel="stylesheet"/>
   <script src="{{/assets/pluginAssets/mermaid/mermaid.min.js | prepend: baseurl}}" type="application/javascript">
   </script>
   <script src="{{/assets/pluginAssets/mermaid/mermaid_render.js | prepend: baseurl}}" type="application/javascript">
   </script>
   <link href="{{/assets/pluginAssets/highlight.js/atom-one-light.css | prepend: baseurl}}" rel="stylesheet"/>
   <title>
    Outline
   </title>
  
 </head>
 <body>
  <div class="exported-note">
   <div class="exported-note-title">
    Outline
   </div>
   <div id="rendered-md">
    <h1 id="outline-draft-thesis">
     Outline draft thesis
    </h1>
    <h3 id="1-introduction">
     1. Introduction:
    </h3>
    <ul>
     <li>
      EUREC4A
      <ul>
       <li>
        What is the general goal and what can this work help to identify?
       </li>
      </ul>
     </li>
     <li>
      Rain evaporation
      <ul>
       <li>
        Why is it important?
       </li>
       <li>
        Thermodynamics
       </li>
       <li>
        <mark>
         Read through the impact and importance
        </mark>
       </li>
       <li>
        <mark>
         Try to make a red line. This could be the thermodynamic influece on stratification.
        </mark>
       </li>
       <li>
        In the end we can estimate this maybe.
       </li>
      </ul>
     </li>
     <li>
      SD models.
      <ul>
       <li>
        What are they?
       </li>
       <li>
        Why needed?
       </li>
      </ul>
     </li>
    </ul>
    <h3 id="data-and-methods">
     Data and Methods
    </h3>
    <ul>
     <li>
      Data
      <ul>
       <li>
        Why did we use the EUREC4A datasets?
       </li>
      </ul>
     </li>
     <li>
      Methods:
      <ul>
       <li>
        Selecting cloud clusters
       </li>
       <li>
        Combining thermodynamics and ATR measurements.
       </li>
       <li>
        Why did we chose the fits for the thermodynamics and ATR data?
        <ul>
         <li>
          How are they chosen and why do we think this is sufficient?
         </li>
         <li>
          -&gt; Relate to Mamphis paper and their estimations
         </li>
        </ul>
       </li>
       <li>
        CLEO:
        <ul>
         <li>
          What is it ?
         </li>
         <li>
          <mark>
           How does the
           <strong>
            rainshaft1D
           </strong>
           configuration work.
          </mark>
          <ul>
           <li>
            Here, we need to really argue for our setup!
            <ul>
             <li>
              Why did me chose to only use a thin cloud.
             </li>
             <li>
              How can we justify this NOT realistic setup?
              <ul>
               <li>
                Well we dont have any other information.
               </li>
               <li>
                Next step cloud be to estimate the PSD from the Thermodynamic profiles.
               </li>
              </ul>
             </li>
            </ul>
           </li>
          </ul>
         </li>
         <li>
          Which parameters can be changed?
         </li>
        </ul>
       </li>
       <li>
        Method of calculating rain evaporation
       </li>
      </ul>
     </li>
    </ul>
    <h3 id="results">
     Results
    </h3>
    <ul>
     <li>
      Introduction using a single cloud cluster
      <ul>
       <li>
        Problem with the LWC and total number of droplets.
        <a data-from-md="" data-resource-id="19eaaf18d020427b8065ac67b61814b8" href="joplin://19eaaf18d020427b8065ac67b61814b8">
         Summary
        </a>
       </li>
       <li>
        Showing a few results of PSD and MSD after X minutes
       </li>
       <li>
        Rain evaporation of individual clous clusters
       </li>
      </ul>
     </li>
     <li>
      Compare the results of different cloud clusters.
      <ul>
       <li>
        Maybe identify some tyical clusters.
       </li>
      </ul>
     </li>
     <li>
      <mark>
       Modify the
       <strong>
        rainshaft1D
       </strong>
       setup
      </mark>
     </li>
    </ul>
    <div id="backs">
    </div>
   </div>
  </div>
 </body>
</html>
